{% extends 'layouts.app' %}

{% import 'macros.forms' as forms %}

{% block content %}
	{% include 'partials.sections.dashboard-navigation' %}

	<a href="/collections/new">New</a>

	<nav>
		<h2>Collections</h2>
		<ul>
			{% for collection in collections %}
				<li>
					<a href="/collections/{{ collection.id }}">{{ collection.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endblock %}