{% extends 'layouts.master' %}

{% block mainContent %}

	{% include 'partials.sections.header' with { modifier: '-app' } %}
	{% include 'partials.sections.dashboard-navigation' %}

	<main class="dashboard-content">
		{{ block('content') }}
	</main>
{% endblock %}